
.boxWrapper{
    width: 600px;
    height: fit-content;
    border: none;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.questionTitle{
    position: relative;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 400;
    text-align: left;
}


.optionWrapper{
    text-align: left;
    display: flex;
    gap: 10px;
}


.optionCheckbox{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}

.optionCheckbox:hover{
    background-color: rgb(218, 218, 218);
}

@media (max-width: 1000px) {
    .boxWrapper{
        width: 100%;
        max-width: 600px;
        padding: 30px 20px;
        border-radius: 15px;
    }

    .questionTitle{
        font-size: 1.1em;
    }

    .optionWrapper{
        gap: 15px;
    }

    .optionCheckbox{
        width: 24px;
        height: 24px;
        min-width: 24px; /* Prevents shrinking */
        min-height: 24px;
    }
}