/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}


/* --------------------------- Actual css --------------------------- */

* {
    font-family: "Google Sans", sans-serif;
}

.page {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./assets/bg_form.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(10, 10, 10);
    /* background-image: linear-gradient(to bottom, #131313 0%, black 100%); */
}


.homeContainer {
    padding: 50px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    height: 100vh;
    justify-content: center;
    margin: auto;
}


.mainTitle {
    font-size: 5em;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.8em;
    color: white;
}

.text {
    font-size: 0.9em;
    color: rgb(125, 125, 125);
    animation-duration: 2s;
    animation-name: slide-in;
}

.bigText {
    line-height: 1.1em;
    font-size: 2em;
    color: rgb(125, 125, 125);
    animation-duration: 1s;
    animation-name: slide-in;
}


.mainButton {
    width: fit-content;
    margin: 0 auto;
    border: none;
    border-radius: 25px;
    padding: 10px 45px;
    font-weight: 700;
    background-color: rgb(225, 255, 0);
    border: 1px solid rgb(2, 2, 2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


.mainButton:hover {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.footer {
    max-width: 1500px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    gap: 20px;
    height: 80px;
}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}


.syena-full-logo {
    height: 25px;
}






ul {
    list-style: none;
}

.example-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding: 20px;
    height: 50px;
}

.example-1 .icon-content {
    margin: 0 20px;
    position: relative;
    font-weight: bolder;
}

.example-1 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    /* White background */
    /* Black text */
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    font-weight: bolder;
    /* Made bolder */
}

.example-1 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-1 .icon-content .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    /* White icons */
    /* Black background */
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    /* Made bolder */
}


@keyframes slide-in {
    from {
        translate: 5vw 0;
        scale: 1 1;
        opacity: 0;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
        opacity: 1;
    }
}